<section>
    <div class="footer-left">
        <a class="link-hover" (click)="scrollToTop()" routerLink="/landingPage">Stefan Ryll 2024</a>
        <a class="link-hover" (click)="scrollToTop()" routerLink="/imprint">{{ "footer.imprint" | translate }}</a>
        <a class="link-hover" (click)="scrollToTop()" routerLink="/privatePolicy">{{ "footer.privacy" | translate }}</a>
    </div>
    <div class="footer-right">
        <a class="btn-hover" href="https://github.com/StefanRyll" target="_blank"><img src="./assets/img/footer-img/github1.png" alt=""></a>
        <a class="btn-hover" href="mailto:mail@stefan-ryll.com" target="_blank"><img src="./assets/img/footer-img/mail1.png" alt=""></a>
        <a class="btn-hover" href="https://www.linkedin.com/in/stefan-ryll-16a2a5282/" target="_blank"><img src="./assets/img/footer-img/linkedin1.png" alt=""></a>
    </div>
</section>