@import "./../../styles.scss";
@import "./../../mixin.scss";
section {
    @include flexBox(space-between, center);
    border-top: 2px solid var(--red);
    margin: 0 9rem 0 9rem;
    padding: 2rem 0 2rem 0;
    color: var(--font-color);
    margin-top: auto;
    min-width: 30rem;
}

.footer-left {
    @include flexBox(center, flex-start);
    flex-direction: column;
    a {
        font-size: min(calc(20px + (28 - 20) * ((100vw - 320px) / (1048 - 320))), 28px);
        font-weight: 200;
    }
}

.footer-right {
    @include flexBox(flex-end, center);
    gap: 1.1rem;
    a {
        @include flexBox(center, center);
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    a img {
        display: flex;
        width: 36px;
        height: 36px;
        padding: 18px;
        background-color: var(--font-color);
        &:hover {
            background: transparent;
        }
    }
}

@media (max-width: 950px) {
    section {
        margin: 0 4rem 0 4rem;
        min-width: auto;
    }
}

@media (max-width: 760px) {
    section {
        flex-direction: column;
        gap: 1.8rem;
        margin: 0 2rem 0 2rem;
        .footer-left {
            align-items: center;
        }
    }
    .link-hover {
        padding: 0;
    }
}

@media (max-width: 550px) {
    section {
        margin: 0 1rem 0 1rem;
    }
}