<div class="content">
    <app-header></app-header>
    <div class="imprint-privacy-section">
        <section class="text-size">
            <h1>{{ "privacy.headline" | translate }}</h1>
            <div>
                <h2>{{ "privacy.1.paragraph" | translate }}</h2>
                <span>{{ "privacy.1.paragraphText" | translate }}</span>

                <h2>{{ "privacy.2.paragraph" | translate }}</h2>
                <span>{{ "privacy.2.paragraphText" | translate }}</span>

                <h2>{{ "privacy.3.paragraph" | translate }}</h2>
                <span>{{ "privacy.3.paragraphText" | translate }}</span>

                <h2>{{ "privacy.4.paragraph" | translate }}</h2>
                <span>{{ "privacy.4.paragraphText" | translate }}</span>

                <h2>{{ "privacy.5.paragraph" | translate }}</h2>
                <span>{{ "privacy.5.paragraphText" | translate }}</span>

                <h2>{{ "privacy.6.paragraph" | translate }}</h2>
                <span>{{ "privacy.6.paragraphText" | translate }}</span>

                <h2>{{ "privacy.7.paragraph" | translate }}</h2>
                <span>{{ "privacy.7.paragraphText1" | translate }} <a href="mailto:mail@stefan-ryll.com" class="link-hover">mail&#64;stefan-ryll.com</a>. {{ "privacy.7.paragraphText2" | translate }}</span>

                <div class="personal-data">
                    <span>Stefan Ryll</span>
                    <span>Mittelstraße 5</span>
                    <span>67547 Worms</span>
                    <span>Germany</span>
                </div>

                <h2>{{ "privacy.8.changes" | translate }}</h2>
                <span class="last-text">{{ "privacy.8.changesText" | translate }}</span>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>