<div class="content">
    <app-header></app-header>
    <div class="imprint-privacy-section">
        <section class="text-size">
            <h1>{{ "imprint.headline" | translate }}</h1>
            <div>
                <h3>{{ "imprint.paragraph" | translate }}</h3>
                <span>Stefan Ryll</span>
                <span>Mittelstraße 5</span>
                <span>67547 Worms</span>
            </div>
            <div class="imprint-contact">
                <h3>{{ "imprint.contact" | translate }}</h3>
                <span>{{ "imprint.phone" | translate }}: <a href="tel:06241225566" class="link-hover">0176 / 43856453 </a></span>
                <span>{{ "imprint.email" | translate }}: <a href="mailto:mail@stefan-ryll.com" class="link-hover">mail&#64;stefan-ryll.com</a></span>
            </div>
            <div class="imprint-source">
                <h3>{{ "imprint.source" | translate }}</h3>
                <div class="project-source">
                    <h4>El Pollo Loco:</h4>
                    <ul>
                        <li>{{ 'imprint.graphics' | translate }}: Developer Akademie GmbH</li>
                        <li>{{ 'imprint.sounds' | translate }}:<a href="https://www.soundcloud.com" target="_blank" class="link-hover"> www.soundcloud.com</a></li>
                        <li>{{ 'imprint.music' | translate }}:<a href="https://www.audionautix.com" target="_blank" class="link-hover"> www.audionautix.com</a></li>
                        <li>Icons:<a href="https://www.flaticon.com" target="_blank" class="link-hover"> www.flaticon.com</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <app-footer></app-footer>
    </div>
</div>